body {
  background-image: linear-gradient( #AED6F1, #3498DB);
}

.App h1 {
  text-align: center;
  margin-top: 20px;
  font: 60px bold;
}
.game p {
  text-align: center;
  margin-top: 10px;
  font: 40px bold;
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 160px);
  grid-template-rows: repeat(6, 160px);
  grid-gap: 10px; 
  /* width: 100%;  */
  justify-content: center;
}

.card img {
  border-radius: 10px;
  width: 100%;
}